.calendar .symbol {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 10px;
  font-size: var(--font-size-small);
}

.calendar .symbol span {
  padding-top: 4px;
}

.calendar .title {
  padding-left: 0;
  padding-right: 0;
}

.calendar .time {
  padding-left: 30px;
  text-align: right;
  vertical-align: top;
}

.calendar .date_header {
  width:100%;
  background-color: rgba(85, 144, 247, 0.501);
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}